<div class="tabbable">
	<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a data-toggle="tab" href="#home"> <i
				class="green ace-icon fa fa-list-alt bigger-120"></i> 列表
		</a></li>
		@if(auth.hasPermission("villeage:darticle:add")){
		<li class=""><a data-toggle="tab" href="#profile">
		<i class="green ace-icon fa fa-plus bigger-120"></i> 添加
		</a></li>
		@}
	</ul>

	<div class="tab-content">
		<div id="home" class="tab-pane active clearfix">
			<form action="${ctxPath}/darticle/list" method="post" id="search-form" target="list-page" class="clearfix">
				
				<div class="pull-left width-30">
					<label>描述：</label>
					<input type="text" class="width-80" name="description"/>
				</div>
				<div class="pull-left"><span class="btn btn-info btn-sm " id="search-btn">查 询</span></div>
			</form>
			<hr/>
			<div id="list-page"></div>
			<script type="text/javascript">
				$("#search-form").getPageList({'submitBtnId':'search-btn'})
			</script>
		</div>

		<div id="profile" class="tab-pane">
			<form action="${ctxPath!}/darticle/save" method="post" id="darticle-save-form">
								<div class="center padding-10">
			<label>标题：</label>
			<input type="text" class="width-50" name="title" datatype="*"  nullmsg="请输入标题！"/>
		</div>
		<div class="center padding-10">
			<label>摘要：</label>
			<input type="text" class="width-50" name="summary" datatype="*"  nullmsg="请输入摘要！"/>
		</div>
		
		<div class="center padding-10">
			<label>content：</label>
			<input type="text" class="width-50" name="content" datatype="*"  nullmsg="请输入content！"/>
		</div>
		<div class="center padding-10">
			<label>keyword：</label>
			<input type="text" class="width-50" name="keyword" datatype="*"  nullmsg="请输入keyword！"/>
		</div>
		
		<div class="center padding-10">
			<label>img：</label>
			<input type="text" class="width-50" name="img" datatype="*"  nullmsg="请输入img！"/>
		</div>
		

				<div class="margin-t15">
					<span class="btn btn-info btn-block bigger-120" id="darticle-save-btn">保 存</span>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
//日期框
$('.date-picker').datepicker();
</script>

<#save isHide="yes" subBtnId="darticle-save-btn" formId="darticle-save-form" />
