<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="viewport"
	content="width=device-width, maximum-scale=1.0, initial-scale=1.0,initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>zscat-springboot系统</title>
<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico?t=1487250759056"/>
<link rel="stylesheet" href="/static/css/flexboxgrid.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/darktooltip.css" />
<link rel="stylesheet" href="/static/css/layui.css">
<link rel="stylesheet" href="/static/css/ukefu.css">
<script src="/static/js/jquery-1.10.2.min.js"></script>
<script src="/static/layui.js"></script>
<script src="/static/js/ukefu.js"></script>
<script src="/static/im/js/socket.io.js"></script>	
<script type="text/javascript" src="/static/js/jquery.darktooltip.js"></script>

</head>