<div class="layer">
	<form name="FormPost" id="dproducttype-save" class="FormGrid"  method="post"
		action="${ctxPath}/dproducttype/save">
		
		<input type="hidden" value="${dproducttype.id!}" name="id"/>
		<table class="EditTable" width="100%">
			<tbody>
				<tr style="display: none;">
					<td class="ui-state-error" id="FormError"></td>
				</tr>
								<tr class="FormData">
			<td class="CaptionTD">名称</td>
			<td class="DataTD width-100"><input type="text" name="name" datatype="*"
			nullmsg="请输入name！" value="${dproducttype.name!}"></td>
		</tr>
		
		<tr class="FormData">
			<td class="CaptionTD">村庄</td>
			<td class="DataTD width-100"><input type="text" name="villageid" datatype="*"
			nullmsg="请输入villageid！" value="${dproducttype.villageid!}"></td>
		</tr>

				<!-- <tr class="FormData">
					<td class="CaptionTD">描述</td>
					<td class="DataTD">
						<textarea name="description" class="autosize-transition form-control "
						style="resize: none;">${dproducttype.description!}</textarea>	
					</td>
				</tr> -->
			</tbody>
		</table>
	</form>
</div>
<#save formId="dproducttype-save" />

<script type="text/javascript">

//描述框自动扩张高度
$('textarea[class*=autosize]').autosize({append: "\n"});
//日期框
$('.date-picker').datepicker();
</script>
